.sidebar {
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.app-container {
    display: flex;
    height: 100vh;

}


.menu-item:hover {
    background-color: blue;
    color: white;

}