.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}




/* Style the .google-icon */
.google-icon {

    width: 20px;
    height: 20px;
    left: 50%;
    margin-right: 10px;
    top: 50%;

}

.google-btn {
    border: none;
    /* Remove the button border */
    box-shadow: none;
    /* Remove the button shadow */
    background-color: white;
    /* Remove the background color */
    color: inherit;
    /* Use the default text color */
    transition: none;
    /* Remove the hover effect */
}

/* Remove the outline when focused */
.google-btn:focus {
    outline: none;
}